Nombre Grupo: {{ Nombre_Grupo }}
División: {{ Division }} 
Fecha: {{ansible_date_time.date}}
—-------------------------
Distribución: {{ ansible_distribution }}
Cantidad de Cores: {{ ansible_processor_cores }}
—-------------------------
R1: Nombre: {{ Usuarios.R1.nombre }} Apellido: {{ Usuarios.R1.apellido }}
R2: Nombre: {{ Usuarios.R2.nombre }} Apellido: {{ Usuarios.R2.apellido }}
R3: Nombre: {{ Usuarios.R3.nombre }} Apellido: {{ Usuarios.R3.apellido }}
R4: Nombre: {{ Usuarios.R4.nombre }} Apellido: {{ Usuarios.R4.apellido }}
R5: Nombre: {{ Usuarios.R5.nombre }} Apellido: {{ Usuarios.R5.apellido }}
R6: Nombre: {{ Usuarios.R6.nombre }} Apellido: {{ Usuarios.R6.apellido }}
